@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
background-color: rgba(155, 155, 155, 0.5);
border-radius: 20px;
border:transparent
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}